<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      City Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="selectedCity">
    <ion-card-header>
      <ion-card-title>{{ selectedCity.name }}</ion-card-title>
      <ion-card-subtitle>{{ selectedCity.province }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="navigateToTab3()">Show on Map</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
